<section style="background-color: #eee;">
    <div class="text-center container py-5">
      <h4 class="mt-4 mb-5"><strong>All Products In Inventory</strong></h4>
  
      <div class="row">
        <div  ng-repeat="p in InventoryProducts" class="col-lg-4 col-md-4 mb-4">
          <div class="card">
            <div
              class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
              data-mdb-ripple-color="light"
            >
              <img
                src="https://thumbs.dreamstime.com/b/line-fruit-vegetable-icons-set-vector-modern-thin-outline-fresh-organic-vegan-food-items-73218005.jpg"
                class="w-50"
              />
              <a href="#!">
                <div class="mask">
                  <div class="d-flex justify-content-start align-items-end h-100">
                    <h5><span class="badge bg-primary ms-2">Unit Left : {{p.RemQuantity}}</span></h5>
                  </div>
                </div>
                <div class="hover-overlay">
                  <div
                    class="mask"
                    style="background-color: rgba(251, 251, 251, 0.15);"
                  ></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <a href="" class="text-reset">
                <h5 class="card-title mb-3">{{p.InvProdName}}</h5>
              </a>
              <a href="" class="text-reset">
                <p>ID : {{p.Id}}</p>
              </a>
              <h6 class="mb-3">${{p.UnitPrice}} Per Unit</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>