<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      

      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link disabled" href="#">Inventory</a><Hr><Hr>
          <a class="nav-link" href="#!invproducts">Products</a>
          <a class="nav-link" href="#!invproductscart">Cart</a>
        </li>

        <li class="nav-item">
          <a class="nav-link disabled" href="#">Deliveries</a><Hr><Hr>
            <a class="nav-link" href="#!alldeliveries">All Deliveries</a>
            <a class="nav-link" href="#!freedeliveryman">Free Deliveryman</a>
        </li>

        <li class="nav-item">
          <a class="nav-link disabled" href="#">Deliveryman</a><Hr><Hr>
            <a class="nav-link" href="#!alldeliveryman">All Deliveryman</a>
            <a class="nav-link" href="#!allsalary">Paid Salary</a>
        </li>

        <li class="nav-item">
          <a class="nav-link disabled" href="#">Customer</a><Hr><Hr>
            <a class="nav-link" href="#!allorders">Customer Orders</a>
            <a class="nav-link" href="#!allfeedback">Customer Feedback</a>
        </li>

      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->
    <img
    src="https://cdn4.iconfinder.com/data/icons/work-1-1/100/laptop-work-mac-small-female-office-half-job-sit-notepad-manager-notebook.1-512.png"
    height="100"
    alt="Manager"
    loading="lazy"
  /><br><bR>
  <span>Manager</span>

  <!--  <a href="#!getinfo">My Info</a>-->

    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->